astroid
certifi
chardet
click
Flask
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
numpy
opencv-python
Pillow
pylint
pyModbusTCP
qrcode
requests
six
toml
typed-ast
urllib3
Werkzeug
wrapt
zbarlight
